<h1>Editing Channel</h1>

<%= render 'form', channel: @channel, categories: @categories, antennas: @antennas, settopbox: @settopboxs%>

<%= link_to 'Show', @channel %> |
<%= link_to 'Back', channels_path %>
<%= button_to 'Delete', channel_path(@channel), :method => :delete %>
