<html>
    <p>
        Package information for <%=params[:service]%>
    </p>
    <br>
    <p>
        Packages
    </p>
    <br>
    <%= puts @packages %>
    <br>
    <p>
        Addons
    </p>
    <br>
    <%= puts @addons %>
    <br>
</html>